
<nav  class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menu">

 <!-- MENU SI ESTA AUTENTICADO -->
  <div sec:authorize="isAuthenticated()" class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div  class="collapse navbar-collapse navbar-dark bg-dark" id="navbarNav" >
    
      <ul class="navbar-nav">
      
        <a sec:authorize="isAuthenticated()" class="navbar-brand" href="#">Cinema Trailer</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
  		aria-expanded="false" aria-label="Toggle navigation">
  		  <span class="navbar-toggler-icon"></span>
 		 </button>
        
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link" th:href="@{/listarPeliculas}">Peliculas</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link" th:href="@{/listar}">Generos</a>
        </li>
         <li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link" th:href="@{/prevAltaPelicula}">Nueva pelicula</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Cerrar sesion</a>
        </li>
        
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
          <a class="nav-link" th:href="@{/admin}">Panel de administracion</a>
        </li>     
        
        
      </ul>
    </div>
  </div>
  
  <!-- MENU SI NO LO ESTA -->
   <div sec:authorize="!isAuthenticated()" class="container-fluid">
   <a class="navbar-brand top" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/registro}">Registro e inicio de sesion</a>
      </li>
      
    </ul>
  </div>
   </div>
  
  
</nav>












