@charset "ISO-8859-1";


body {
	background: linear-gradient(to right, #c04848, #480048);
	min-height: 100vh
}




.text-gray {
	color: #aaa
}

img {
	height: 170px;
	width: 140px
}

.flex-container {
	display: flex;
	height: 400px;
	flex-flow: column wrap;
	background-color: green;
	align-content: flex-end;
}

.flex-container>div {
	background-color: #fff;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;}
	
	
	.top {
  text-decoration: none;
  flex-flow: column wrap;
}